<ion-header class="header">

  <ion-navbar color="secondary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Super App</ion-title>
  </ion-navbar>

  <ion-toolbar color="primary">
    <ion-title *ngIf="(userReal | async)?.status == 'broadcasting'">Getting your Hero...</ion-title>
    <ion-title *ngIf="(userReal | async)?.status != 'broadcasting'" text-capitalize>Welcome {{ (userReal | async)?.first_name }}</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content>

  <!-- <ion-list>
    <ion-item *ngFor="let victim of victims | async">
      <button ion-button block>{{ victim.first_name }}</button>
    </ion-item>
  </ion-list> -->

  <agm-map [latitude]="user.lat" [longitude]="user.lng" class="map">
    <agm-marker [latitude]="(userReal | async)?.lat" [longitude]="(userReal | async)?.lng" [label]="label"></agm-marker>
    <agm-marker *ngFor="let victim of victims | async" [latitude]="victim.lat" [longitude]="victim.lng" [label]="victim.first_name"></agm-marker>

  </agm-map>

</ion-content>

<ion-footer class="footer">
  <ion-toolbar color="primary">

          <!-- closed -->
          <button *ngIf=" (userReal | async)?.status == 'idle' || (userReal | async)?.status == null" ion-button color="danger" (click)="getHelp()">
            Help Me !
          </button>
          <button *ngIf=" (userReal | async)?.status == 'idle' || (userReal | async)?.status == null" ion-button color="success" (click)="rescue()">
            Ready to Rescue
          </button>

          <!-- searching -->
          <button *ngIf="(userReal | async)?.status == 'searching'" icon-left ion-button color="danger" (click)="cancelRescuing()">
            <ion-icon name="close"></ion-icon>
            Cancel
          </button>
          <button *ngIf="(userReal | async)?.status == 'searching' || (userReal | async)?.status == 'helping'" icon-left ion-button color="success" (click)="goRescuing()">
            <ion-icon name="close"></ion-icon>
            Rescue now
          </button>

          <!-- broadcasting -->
          <button *ngIf="(userReal | async)?.status == 'broadcasting'" icon-left ion-button color="danger" (click)="cancelBroadcasting()">
            <ion-icon name="close"></ion-icon>
            Cancel
          </button>

          <!-- assisted -->
          <button *ngIf=" (userReal | async)?.status == 'assisted'" ion-button color="success" (click)="callHero()">
            Call
          </button>
          <button *ngIf=" (userReal | async)?.status == 'assisted'" ion-button color="danger" (click)="cancelHero()">
            Cancel
          </button>
          <button *ngIf=" (userReal | async)?.status == 'assisted'" ion-button color="success" (click)="problemSolved()">
            Problem Solved
          </button>

          <!-- solving -->
          <button *ngIf="(userReal | async)?.status == 'solving'" icon-left ion-button color="success" (click)="cancelBroadcasting()">
            <ion-icon name="call"></ion-icon>
            Call
          </button>
          <button *ngIf="(userReal | async)?.status == 'solving'" icon-left ion-button color="danger" (click)="cancelBroadcasting()">
            <ion-icon name="close"></ion-icon>
            Cancel
          </button>
          <button *ngIf="(userReal | async)?.status == 'solving'" icon-left ion-button color="success" (click)="cancelBroadcasting()">
            <ion-icon name="checkmark"></ion-icon>
            Solved
          </button>

  </ion-toolbar>
</ion-footer>
